    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>{settings.footer.contactus.text}</p>
            </div>
            <div class="col-md-4">
                <f:cObject typoscriptObjectPath="lib.footer.contactus.btn" />
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-3">
                <f:format.html>{settings.footer.col-1}</f:format.html>
            </div>
            <div class="col-md-6 text-center">
                <f:format.html>{settings.footer.col-logos}</f:format.html>
            </div>
            <div class="col-md-3">
                <f:cObject typoscriptObjectPath="lib.footer.nav" />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <f:format.html>{settings.footer.col-bottom-1}</f:format.html>
            </div>
            <div class="col-md-6 text-right">
                <f:format.html>{settings.footer.col-bottom-2}</f:format.html>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->